<div id="page-content" class="flex-grow-1">
  <div class="container text-white text-center text-wrap">
    <div class="jumpbotron rounded d-flex flex-column justify-content-center align-items-center">
      <h1>DBLOG</h1>
      <p>
        This is simple hero unit, a simple jumpbotron-style component 
        for calling extra attension to feature content or infomation
      </p>
      <p class="mt-5">It uses utility classes for typography and spacing to space content widthin the larger container</p>
      <div class="btn btn-success">Sign up!</div>
    </div>
  </div>
</div>
