
@import "../../../node_modules/bootstrap/scss/functions";

$primary:#7395ae;

@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/bootstrap";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: rgba($color: #B1A296, $alpha: 0.2);
}


#page-content{
  margin: 5rem 0;
}
/* Navbar styles */
.navbar{
  background-color: #557a95;
}

.navbar-brand{
  font-weight: 700;
  color: #fff;
  &:hover{
    color: #fff;
  }
}

.nav-item.active > a{
  color: #fff !important;
}

/* Home page styles*/
.jumpbotron {
  position: relative;
  background-image: image-url("jumbotron.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  z-index: 0;
  ::after {
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 1rem;
    z-index: -1;
  }
}

/* Pagination styles */
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em;
  }
  .disabled{
    color: #aaaaaa;
  }
  .current{
    border-radius: 0.4rem;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    background: $primary;
  }
  a {
    border: 1px solid #dddddd;
    border-radius: 0.4rem;
    color: #999;
    text-decoration: none;
    &:hover, &:focus {
      border-color: $primary;
      background: var($primary);
      color: $primary;
    }
  }
  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }
  .previous_page, .next_page {
    border-width: 2px;
  }
  .previous_page{
    margin-right: 1em
  }
  .next_page{
    margin-left: 1em
  }
}