<footer id="sticky-footer" class="py-2 bg-dark text-white-50 position-fixed bottom-0 start-0 end-0">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>