<div class="container w-25 z-index-1 position-absolute end-0" style="z-index:1">
  <% flash.each do |type, msg| %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>